<nav class = "nav-bar">
    <div class = "nav-div">
        <a href="/chefs">Chefs</a>
        <a href="/">Home</a>
        <a href="/chefs/login">Login</a>
        <a href="/chefs/new">Join</a>
    </div>
</nav>