<nav class = "nav-bar">
    <div class = "nav-div">
        <a href="/chefs">Chefs</a>
        <a href="/">Home</a>

        <% if(chef === null) { %> 
         
        <a href="/login">Login</a>
        <a href="/new">Join</a>
            
        <% }else{ %> 
        <a href="/chefs/logout">Logout</a>
        <a href="/chefs/<%=chef.id%>/chef-home">Search Recipes</a>

        <% } %> 
    </div>
</nav>