<nav class = "nav-bar">
    <div class = "nav-div">
        <a href="/chefs">Chefs</a>
        <a href="/">Home</a>

        <% if(chef) { %> 
            <a href="/chefs/logout">Logout</a>
            <a href="/chefs/<%=chef.id%>/chef-home">Search Recipes</a>
            <a href="/chefs/<%=chef.id%>/profile">Your Profile</a>
         
            
            <% }else{ %> 
                <a href="/login">Login</a>
                <a href="/new">Join</a>

        <% } %> 
    </div>
</nav>