
<h1>WeChef Homepage</h1>


<img src="/images/WeChef.png" alt="image not found" width="200px">

<form action="/recipes" method="GET">
    <input type="text" name="search">
    <input type="submit" value="search">

</form>

<div class = search-cards>
    
</div>