<div class = home-page-div>

    
    <img src="/images/WeChef.png" alt="image not found" width="200px">
    <h3>Chef Curated, Critiqued and Created Recipes </h3>
    <form action="/recipes" method="GET">
        <input type="text" name="search">
        <input type="submit" value="search">
        
    </form>
    
</div>
    
<div class = search-cards>
    
</div>