.nav-bar {
   display: flex;
   flex-direction:column;
}

.nav-div {
    background-color:grey;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: large;
}
.nav-div a:hover{
    color: orange;
}

.chef-card {
    border: solid 4px blue;
}

.experience-input{
    width: 600px;
    height: 60px;
    text-align: left;
    vertical-align: text-top;
}

.join-submit{
    margin-top: 10%;
}

.chef-join-div {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.recipe-preview {
    border: solid 2px red;
    display: flex;
    flex-direction: row;
}

.ingredients-div {
    border: solid 2px red;
    display: flex;
    flex-direction: row;
}


.comment-div  {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin-left: 10%;
    margin-right: 10%;
}

#commentor{
    border: 2px solid green;
    margin: 0;
}

#comment {
    border: 2px solid pink;
    margin: 0;
}