<h1>This is the chef create account page</h1>


<form action="/chefs/new" method="POST">

    <div class= chef-join-div>

        <label for="firstname">Enter your first name</label>
        <input type="text" name="firstname">
        
        <label for="lastname">Enter your last name</label>
        <input type="text" name="lastname">
        
        <label for="email">Enter your email address</label>
        <input type="text" name="email">
    
        <label for="username">Choose a Username</label>
        <input type="text" name="username">
    
        <label for="password">pick a password</label>
        <input type="password" name="password">

    </div>

    <h4>Enter relevant experience to be considered for approval.</h4>
    <input class = experience-input type="text" name="experience">
    <br>
    <input class = join-submit type="submit" value="Request Approval">


</form>