<div class = login-div>

    <h1> Welcome Back, Chef!</h1>
    
    <h4>Ready to tear apart some recipes?  Login below!</h4>
    
    <form action="/chefs/login" method="POST">
        
        <label for="chef">Username:</label>
        <input type="text" name="username">
        
        <label for="password">Password:</label>
        <input type="password" name="password">
        
        <input type="submit" value="login">
    </form>

</div>